@import "styles/utils";

.content {
  justify-content: center;
  align-items: center;
  background: white;
}

.successful {
  $size: 64px;
  width: $size;
  height: $size;
  background: rgba($lightSeaGreen, 0.2);
  border-radius: $border-radius;
  justify-content: center;
  align-items: center;
}
.icon {
  color: $lightSeaGreen;
}

.title {
  @include useHeading("sub");
  text-align: center;
  padding: 18px 8% 0 8%;
}
.body {
  @include useBody;
  padding: 18px 0;
}
