@import "styles/utils";

$superSilver: #eee;

.input {
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 20px;
}
.trueTint {
  border: $lightSeaGreen;
}
.falseTint {
  border: $redLightNeon;
}
// .normalTint {
//   border: #8a8d90;
// }
.undefinedTint {
  border: $superSilver;
}

.text {
  padding: 0 10px;
  flex: 1;
}

.trueIcon {
  color: $lightSeaGreen;
}
.falseIcon {
  color: $redLightNeon;
}
// .normalIcon {
//   color: #8a8d90;
// }
.undefinedIcon {
  color: $superSilver;
}

// :export {
//   superSilver: #eee;
//   redLightNeon: $redLightNeon;
//   lightSeaGreen: $lightSeaGreen;
// }
