@import "styles/utils";

.topScroll {
  height: 61%;
  border-bottom-right-radius: $border-radius;
  border-color: transparent;
}
.bottomScroll {
  position: relative;
}
.pagination {
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  align-self: center;
  position: absolute;
}
.footer {
  background: white;
  height: 39%;
  border-top-left-radius: $border-radius;
  border-color: transparent;
}

.topSlide {
  justify-content: center;
}
.title {
  @include useTitle;
  transform: rotate(-90deg);
}

.dot {
  background: $lightSeaGreen;
  border-radius: 4px;
  height: 6px;
  width: 6px;
  margin: 4px;
}

.bottomSlide {
  padding: 24px;
  justify-content: center;
  align-items: center;
}
.subtitle {
  @include useHeading("sub");
  margin-bottom: 12px;
}
.description {
  @include useBody;
  margin-bottom: 40px;
  text-align: center;
}
