@import "styles/utils";

.button {
  border-radius: 25px;
  height: 50px;
  width: 245px;
  align-items: center;
  justify-content: center;
}
.primaryButton {
  background: $lightSeaGreen;
}
.secondaryButton {
  background: rgba($cetaceanBlue,0.05);
}

.label {
  @include useLabel;
}
.primaryLabel {
  color: white;
}
.secondaryLabel {
  color: $cetaceanBlue
}
