@import "styles/utils";
@mixin useCategory($color, $type: border) {
  @if $type == border {
    #{$type}: 1px dotted $color;
    margin: 0.5rem;
    padding: 0.2rem;
  } @else {
    #{$type}: $color;
    flex: 1;
  }
}

.outfitIdeas {
  background: $cetaceanBlue;
  flex: 1;
  position: relative;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-horizontal;
}
.title {
  text-transform: uppercase;
  font-family: SFProDisplayBold;
  letter-spacing: 2px;
}

.body {
  flex: 1;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.list {
  padding: 0 4%;
}

$categories: #ffe8e9, $slimeLime, $icyLandscape, #f1e0ff, #ffe8e9;
@for $i from 0 to length($categories) {
  .category-border#{$i} {
    @include useCategory(nth($categories, $i + 1));
  }
  .category#{$i} {
    @include useCategory(nth($categories, $i + 1), background);
  }
}

.categoryText {
  text-transform: capitalize;
  align-self: center;
}

.cards {
  flex: 0.82;
  position: relative;
}

.button {
  @include useHeaderButton();
}

.badge {
  background: $lightSeaGreen;
  $size: 13px;
  $position: 5px;
  height: $size;
  width: $size;
  right: $position;
  top: $position;
  position: absolute;
  justify-content: center;
  border-radius: 6.5px;
}
.label {
  font-size: 6.5px;
  color: white;
  text-align: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.overlayHeader {
  flex: 0.4;
  position: relative;
}
.top {
  flex: 0.5;
  background: white;
}
.bottom {
  background: $paleBlue;
  flex: 0.5;
  overflow: hidden;
}
.contentOverlay {
  border-bottom-right-radius: $border-radius;
  background: white;
}

.overlayBody {
  flex: 0.35;
  position: relative;
}
.contentBody {
  background: $paleBlue;
  overflow: hidden;
  border-top-left-radius: $border-radius;
}
.topCover {
  transform: rotate(180deg);
}
.bottomCover {
  top: -6px;
  transform: rotateX(180deg);
}

.overlayFooter {
  background: $paleBlue;
  flex: 0.25;
  overflow: hidden;
  position: relative;
}
.coverFooter {
  position: absolute;
  top: -29px;
  transform: rotateX(180deg);
}
.contentFooter {
  background: $cetaceanBlue;
  flex: 1;
  border-top-left-radius: $border-radius;
}

.card {
  align-self: center;
  position: absolute;
  width: 95%;
  height: 100%;
  border-radius: 24px;
  margin-top: -6rem;
}

:export {
  paleBlue: $paleBlue;
  lightSeaGreen: $lightSeaGreen;
  polishedAqua: #74bcb8;
  tahitianSky: #c9e9e7;
}
