@import "styles/utils";

.top {
  background: #f4f0ef;
  border-bottom-right-radius: $border-radius;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header {
  color: white;
  font-family: SFProDisplayBold;
  transform: scale(1.4);
}

.bottom {
  background: #f4f0ef;
  height: 46%;
}
.wrapper {
  background: white;
  border-top-left-radius: $border-radius;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 60px;
}
.title {
  @include useHeading("sub");
  padding: 12px 0;
}
.body {
  @include useBody;
  text-align: center;
  padding-bottom: 18px;
}
.forgot {
  background: transparent;
}
