@import "styles/utils";

.title {
  @include useHeading("sub");
  text-align: center;
  padding-bottom: 20px;
}
.body {
  @include useBody;
  text-align: center;
  padding: 0 8% 20px 8%;
}

.user {
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
.forgot {
  color: $lightSeaGreen;
  font-family: SFProDisplayMedium;
}

.button {
  align-self: center;
}

.checkbox {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon {
  border: $lightSeaGreen;
  $size: 18px;
  height: $size;
  width: $size;
  justify-content: center;
  align-items: center;
  border-radius: 2.4px;
  border-width: 1.4px;
  background: transparent;
}
.text {
  padding-left: 10px;
  font-family: SFProDisplayMedium;
}
:export {
  lightSeaGreen: $lightSeaGreen;
}
